*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --font-size:17px;
    --firest-font-size:18px;
    --second-font-size:22px;
    --font-size-icon:20px;
    --third-font-size:24px;
    --fourth-font-size:32px;
    --firest-color:#fafafa;
    --second-color:#e0c690;
    --third-color: #8e7754;
    --fourth-color:#ffffff;
    --fifth-color:#222222;
    --sixth-color:#333333;
    --siven-color:#686868;
    --icon-color: #8e7754;
}

/********************************************************************************/
/*Nav*/
.Home .nav{
    margin: 15px;
}
.Home .nav .logo{
    vertical-align: middle;
    width: 20%;
    padding-top: 3px;
    padding-left: 60px;
    display: inline-block;
}
.Home .nav .logo img{
    width: 100%;
}
.Home .nav ul{
    list-style-type: none;
    vertical-align: middle;
    display: inline-block;
    margin-left: 18%;
    padding-left: 20%;
   
}
.Home .nav  ul li{  
    display: inline-block;    
} 
.Home .nav  ul li a{
    font-size: 18px;
    color: #787575;
    text-decoration: none;
    font-family: Alegreya-Regular; 
    transition: all 0.3s;
    padding-left: 26px;
}
.Home .nav  li:nth-child(5) a{
    color: #000 ;    
}
.Home .nav ul li:not(:nth-child(5)) a:hover {
    Color:var(--second-color);
}
.brdr{
    width: 80px;
    height: 2px;
    background-color:var(--second-color);
    position: absolute;
    top: 0px;
    left: 80%;
}
/************* Caption ******************/
.caption{
    font-weight: 400;
    font-family: Alegreya;
    background-color: #f8f8f8;
    padding: 5%;
    columns: 2;
}
.caption .h1-title{
    font-size: 36px;
    font-family: 'Alegreya', serif;
    padding-left: 10%;
    font-weight: 400;
}
.caption .link{
    padding-top: 5%;
    padding-left: 70%;
}
.caption a{
    color: gainsboro;
    cursor: pointer;
    text-decoration: none;
}
.caption a:hover{
    color: var(--icon-color);
}


/**********Cards**************/
.columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.columns .col .card{
   padding: 3%;
   margin-bottom: 3%;
   border-radius: 10px;
   margin-left: 3%;
   margin-right: 3%;
}
.columns .col .card .info{
    border:1px solid #efefef;
}
.columns .col .card img{
    width: 100%;
}
.columns .col .card .container h4{
    color: #000;
    font-size: 20px;
    padding: 3%;
}
.columns .col .card .container h4:hover{
    color: var(--icon-color);
}
.columns .col .card .container p{
    padding: 3%;
    font-family: 'Alegreya', serif; 
    letter-spacing: normal;
    font-size: 17px;
}
.columns .col .card .container a{
    color: #403d38;
    padding: 3%;
}
.columns .col .card .container a:hover{
    color: var(--third-color);
    padding: 3%;
}
.columns .col .card .container a:hover i{
    transform: translateX(2px)
}
.columns .col .card .container span{
    color: #7c7c7b;
    padding: 3%;
}
.columns .col .card .container .post-quote{
    color: #fff;
    font-size: 20px;
    line-height: 1.4em;
    background-color: var(--icon-color);
    padding: 2%;
    border-radius: 5px;
    margin: 0;
}
.columns .col .card .container .post-quote:hover{
    background-color: #000;
}
.columns .col .card .container .post-quote .post-quote-author{
    color: #fff;
    font-size: 14px;
}
.columns .col .card .container .post-quote i{
    font-size: 18px;
    right: 0;
}
.columns .col .search-box{
    border: 1px #6b6b6a solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}
.columns .col .search-box .search{
    color: #848383;
}
.columns .col .search-box i{
    color: #848383;
}
.columns .col hr{
    color: #848383;
    width: 75%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.columns .col .Menu{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}
.columns .col .Menu h5{
    font-size: 17px;
    font-weight: 500;
    font-family: 'Alegreya', serif;
    width: 70%;
    padding: 3%;
}
.columns .col .Menu a{
    width: 60%; 
    padding: 3%; 
    color: #7d7c7c;
}
.columns .col .Menu a i{
    padding-right: 2%; font-size: 12px;
}

/*************************** start contact *************************/
#contact{
    height: 70vh;
    background-color: #403d38;
}
#contact .contact-container{

    padding: 50px 80px;
}
#contact .contact-container .about-us{
    float: left;
    width: calc(100%/4);    
}
#contact .contact-container .about-us p{
    color: #969696;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    padding: 10px;
}
#contact .contact-container .special{
    float: left;
    width: calc(100%/4);
}
#contact .contact-container .oppining-hours{
    float: left;
    width: calc(100%/4);
}
#contact .contact-container .contact-details{
    float: left;
    width: calc(100%/4);
    position: relative;
}
#contact .contact-container .contact-details::before{
    content: "";
    background-image: url(../images/contact-details-map.png);
    background-repeat: no-repeat;   
    background-position: center 80%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}
#contact .contact-container h4{
    padding-top: 15px;
    font-family:AlegreyaSans-Regular ;
    font-weight: 400;
    font-size: var(--firest-font-size);
    line-height: 32px;
    color:var(--fourth-color);
}
#contact .contact-container p{

    padding-top: 15px;
    font-family:AlegreyaSans-Regular ;
    font-weight: 400;
    line-height: 32px;
    Color:#969696;
    width: 90%;
    
}
#contact .contact-container ul{

    list-style-type: none;
    margin-top: 10px;   
}
#contact .contact-container ul li{
    padding: 10px 0px;
}
#contact .contact-container .oppining-hours 
,.special ul li i{
    Color:rgba(150, 150, 150 , 0.5);
    font-size: 11px;
}
#contact .contact-container .contact-details ul li i{
    Color:#969696;
}
#contact .contact-container ul li span{
    padding-left: 4px;
    font-family:AlegreyaSans-Regular ;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color:#969696;
}

#contact .contact-container ul li span a{
    color:#969696;
    text-decoration: none;
    transition: all 1s;

}
#contact .contact-container ul li:not(:last-child) {
    border-bottom: solid 1px rgba(150, 150, 150, 0.1) ;
    width:85%;
    
}
#contact .contact-details .ancor:hover a {
    color: #e0e0e0;
}

/* ------------- end contact --------- */
/* =================================== */

/* start footer */
#footer{
    background-color: #353330;
    text-align: center;
    height: 50vh;
    padding: 80px;
    
}
#footer h6{
    padding: 30px 60px;
    font-size: 15px;
    color:rgba(150, 150, 150, 0.7);
    font-family:AlegreyaSans-Regular ;
    font-weight: 400;
}

#footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
#footer a {
   
    color:rgba(150, 150, 150, 0.7);
    position: relative;

}
#footer ul a li{
    border: solid 1px  transparent;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #403d38;
    transition: all 0.3s;
    
}
#footer ul a li i{

    line-height: 40px;
    font-size: 20px;
}


#footer .facebook:hover li{
    background-color:#3b5998;
    color: #fff;
    
}
#footer .google:hover li{
    background-color: #dd4b39;
    color: #fff;

}
#footer .linkedin:hover li{
    background-color:#007bb5 ;
    color: #fff;

}
#footer .twitter:hover li{
    background-color: #00aced;
    color: #fff;

}
/* ------------- end footer --------- */
/* =================================== */